.styledLink {
  font-size: 0.8125rem;
  line-height: 1.21875rem;
  color: #fff;
  display: block;
  font-weight: 700;
}

.menuContainer {
  justify-content: space-between;
  align-items: center;
}

.styledLinkContainer {
  margin-left: 0;
}
